
{% extends 'cif/base.html' %}


{% block content %}

<div class="d-flex justify-content-center">
<div class="card text-center">
  <div class="card-header">
    Customer List
  </div>
<div class="card-body">

  <table class="mdl-data-table mdl-js-data-table mdl-data-table-default-non-numeric mdl-shadow--2dp">
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">ID</th>
        <th class="mdl-data-table__cell--non-numeric">Last Name</th>
        <th class="mdl-data-table__cell--non-numeric">First Name</th>
        <th class="mdl-data-table__cell--non-numeric">Middle Name</th>
        <th class="mdl-data-table__cell--non-numeric">Business Name</th>
        <th class="mdl-data-table__cell--non-numeric">Sales Employee</th>
        <th class="mdl-data-table__cell--non-numeric">Encoded in SAP</th>
        <th class="mdl-data-table__cell--non-numeric">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for b in obj %}
      <tr>
        <td class="mdl-data-table__cell--non-numeric">{{ b.id }}</td>
        <td class="mdl-data-table__cell--non-numeric">{{ b.lastname }}</td>
        <td class="mdl-data-table__cell--non-numeric">{{ b.firstname }}</td>
        <td class="mdl-data-table__cell--non-numeric">{{ b.middlename }}</td>
        <td class="mdl-data-table__cell--non-numeric">{{ b.businessname }}</td>
        <td class="mdl-data-table__cell--non-numeric">{{ b.sales_employee }}</td>
        <td class="mdl-data-table__cell--non-numeric">{{ b.is_sap_encoded }}</td>
        <td class="mdl-data-table__cell--non-numeric">
          <a href="{% url 'customer:detail' b.id %}"><span class="material-icons">visibility</span></a>
        </td>
      </tr>

    </tbody>
    {% endfor %}
  </table>

</div>
</div>
</div>


{% endblock content %}
