{% extends 'cif/base.html' %}
{% load static %}


{% block content %}
  <br><br><br><br>
  <div class="container text-center">
    <h3> <a href="{% url 'customer:home' %}"> <img src="{% static 'img/ihclogo.png' %}" alt="Intercast Logo" height="30" width="200"> </a> </h3>
  </div>

  <div class="container text-center">
    <h3>Customer Information Form</h3>
  </div>


  <div class="container border border-light">

      <!-- 1st Grid row -->
      <div class="form-row">
        <!-- Grid column -->
        <div class="col-md-3">
          <!-- Material input -->
          <div class="md-form form-group">
            <input type="text" class="form-control form-control-sm" id="lastname" name="lastname" value="{{ customer.lastname }}" readonly>
            <label for="lastname">Last Name</label>
          </div>



        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3">
          <!-- Material input -->
          <div class="md-form form-group">
            <input type="text" class="form-control form-control-sm" id="firstname" name="firstname" value="{{ customer.firstname }}" readonly>
            <label for="firstname">First Name</label>
          </div>
        </div>
        <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3">
        <!-- Material input -->
        <div class="md-form form-group">
          <input type="text" class="form-control form-control-sm" id="middlename" name="middlename" value="{{ customer.middlename }}" readonly>
          <label for="middlename">Middle Name</label>
        </div>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3">
        <!-- Material input -->
        <div class="md-form form-group">
          <input type="text" class="form-control form-control-sm" id="birthday" name="birthday" value="{{ customer.birthday }}" readonly>
          <label for="birthday">Birthday</label>
        </div>
      </div>
      <!-- Grid column -->
    </div>
    <!-- End 1st Grid row -->

    <!-- 2nd Grid row -->
    <div class="form-row">
      <!-- Grid column -->
      <div class="col-md-4">
        <!-- Material input -->
        <div class="md-form form-group">
          <input type="text" class="form-control form-control-sm" id="homeaddress" name="homeaddress" value="{{ customer.homeaddress }}" readonly>
          <label for="homeaddress">Permanent Home Address</label>
        </div>
      </div>
      <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-4">
      <!-- Material input -->
      <div class="md-form form-group">
        <input type="text" class="form-control form-control-sm" id="homeownership" name="homeownership" value="{{ customer.homeownership }}" readonly>
        <label for="homeownership">Home Ownership</label>
      </div>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-4">
      <!-- Material input -->
      <div class="md-form form-group">
        <input type="text" class="form-control form-control-sm" id="phone" name="birthday" value="{{ customer.phone }}" readonly>
        <label for="phone">Phone</label>
      </div>
    </div>
    <!-- Grid column -->
  </div>
  <!-- End 2nd Grid row -->

  <!-- 3rd Grid row -->
  <div class="form-row">
    <!-- Grid column -->
    <div class="col-md-3">
      <!-- Material input -->
      <div class="md-form form-group">
        <input type="text" class="form-control form-control-sm" id="businessname" name="businessname" value="{{ customer.businessname }}" readonly>
        <label for="businessname">Business Name</label>
      </div>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-3">
      <!-- Material input -->
      <div class="md-form form-group">
        <input type="text" class="form-control form-control-sm" id="specialtypractice" name="specialtypractice" value="{{ customer.specialtypractice }}" readonly>
        <label for="specialtypractice">Specialty of Practice</label>
      </div>
    </div>
    <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-md-3">
    <!-- Material input -->
    <div class="md-form form-group">
      <input type="text" class="form-control form-control-sm" id="tenurepractice" name="tenurepractice" value="{{ customer.tenurepractice }}" readonly>
      <label for="tenurepractice">Tenure of Practice</label>
    </div>
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-md-3">
    <!-- Material input -->
    <div class="md-form form-group">
      <input type="text" class="form-control form-control-sm" id="prcno" name="prcno" value="{{ customer.prcno }}" readonly>
      <label for="prcno">PRC No.</label>
    </div>
  </div>
  <!-- Grid column -->
</div>
<!-- End 3rd Grid row -->

<!-- 4th Grid row -->
<div class="form-row">
  <!-- Grid column -->
  <div class="col-md-4">
    <!-- Material input -->
    <div class="md-form form-group">
      <input type="text" class="form-control form-control-sm" id="businessaddress" name="businessaddress" value="{{ customer.businessaddress }}" readonly>
      <label for="businessaddress">Business Address</label>
    </div>
  </div>
  <!-- Grid column -->

<!-- Grid column -->
<div class="col-md-4">
  <!-- Material input -->
  <div class="md-form form-group">
    <input type="text" class="form-control form-control-sm" id="businessphone" name="businessphone" value="{{ customer.businessphone }}" readonly>
    <label for="businessphone">Phone</label>
  </div>
</div>
<!-- Grid column -->

<!-- Grid column -->
<div class="col-md-4">
  <!-- Material input -->
  <div class="md-form form-group">
    <input type="text" class="form-control form-control-sm" id="businessemail" name="businessemail" value="{{ customer.businessemail }}" readonly>
    <label for="businessemail">Email</label>
  </div>
</div>
<!-- Grid column -->
</div>
<!-- End 4th Grid row -->

<!-- 5th Grid row -->
<div class="form-row">
  <!-- Grid column -->
  <div class="col-md-4">
    <!-- Material input -->
    <div class="md-form form-group">
      <input type="text" class="form-control form-control-sm" id="contactperson" name="contactperson" value="{{ customer.contactperson }}" readonly>
      <label for="contactperson">Contact Person</label>
    </div>
  </div>
  <!-- Grid column -->

<!-- Grid column -->
<div class="col-md-4">
  <!-- Material input -->
  <div class="md-form form-group">
    <input type="text" class="form-control form-control-sm" id="position" name="position" value="{{ customer.position }}" readonly>
    <label for="position">Position</label>
  </div>
</div>
<!-- Grid column -->

<!-- Grid column -->
<div class="col-md-4">
  <!-- Material input -->
  <div class="md-form form-group">
    <input type="text" class="form-control form-control-sm" id="contactpersonphone" name="contactpersonphone" value="{{ customer.contactpersonphone }}" readonly>
    <label for="contactpersonphone">Phone</label>
  </div>
</div>
<!-- Grid column -->
</div>
<!-- End 5th Grid row -->

  </div>

  <br>
  <div class="container d-flex justify-content-center">
    <p> <h6>
      I certify that all information and the supporting documents I submitted in connection with this information are complete, true and correct, and
      the signatures therein are genuine. For purpose of this authority to verify and disclose information, I waive confidentiality of any such Information
      relating to me under applicable confidentiality and data privacy laws, rules and regulations.
    </h6> </p>
  </div>

  <br>
  <div class="container d-flex justify-content-center">
    <p class="h6">
      THIS PORTION IS FOR INTERCAST HEALTHCARE CORPORATION USE ONLY
    </p>
  </div>

  <div class="container border border-light">

    <!-- 1st Grid row -->
    <div class="form-row">
      <!-- Grid column -->
      <div class="col-md-4">
        <!-- Material input -->
        <div class="md-form form-group">
          <input type="text" class="form-control form-control-sm" id="" name="" value=" ">
          <label for="lastname">Sales Representative Signature and Date:</label>
        </div>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2">
        <!-- Material input -->
        <div class="md-form form-group">
          <input type="text" class="form-control form-control-sm" id="" name="" value=" ">
          <label for="firstname">Area:</label>
        </div>
      </div>
      <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-2">
      <!-- Material input -->
      <div class="md-form form-group">
        <input type="text" class="form-control form-control-sm" id="" name="" value=" ">
        <label for="">Terms:</label>
      </div>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-2">
      <!-- Material input -->
      <div class="md-form form-group">
        <input type="text" class="form-control form-control-sm" id="" name="" value=" ">
        <label for="">Mode of Payment:</label>
      </div>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-2">
      <!-- Material input -->
      <div class="md-form form-group">
        <input type="text" class="form-control form-control-sm" id="" name="" value=" ">
        <label for="">Credit Limit:</label>
      </div>
    </div>
    <!-- Grid column -->

  </div>
  <!-- End 1st Grid row -->

  <!-- 1st Grid row -->
  <div class="form-row">
    <!-- Grid column -->
    <div class="col-md-6">
      <!-- Material input -->
      <div class="md-form form-group">
        <input type="text" class="form-control form-control-sm" id="" name="" value=" ">
        <label for="lastname">Remarks/Endorsement/From Referring Sales Representative:</label>
      </div>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-3">
      <!-- Material input -->
      <div class="md-form form-group">
        <input type="text" class="form-control form-control-sm" id="" name="" value=" ">
        <label for="firstname">Approved:</label>
      </div>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-3">
      <!-- Material input -->
      <div class="md-form form-group">
        <input type="text" class="form-control form-control-sm" id="" name="" value=" ">
        <label for="firstname">Date:</label>
      </div>
    </div>
    <!-- Grid column -->

</div>
<!-- End 1st Grid row -->

  </div>

        <center>
               <button class="btn btn-primary hidden-print" onclick="myFunction()"><i class="fas fa-print"></i> Print</button>
  	    </center>

        <script type="text/javascript">
        function myFunction() {
  window.print();
}
        </script>

{% endblock content %}
