
{% extends 'cif/base.html' %}


{% block content %}

<div class="d-flex justify-content-center">
<div class="card text-center">
  <div class="card-header">
    Customer Information Form
  </div>
<div class="card-body">

<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
  <tbody>

    <!-- 1st Row -->
    <tr>

      <td class="mdl-data-table__cell--non-numeric">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="lastname" value="{{ customer.lastname }}">
          <label class="mdl-textfield__label" for="lastname">Last Name</label>
        </div>
      </td>

      <td class="mdl-data-table__cell--non-numeric">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="firstname" value="{{ customer.firstname }}">
            <label class="mdl-textfield__label" for="firstname">First Name</label>
          </div>
      </td>

      <td class="mdl-data-table__cell--non-numeric">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="middlename" value="{{ customer.middlename }}">
            <label class="mdl-textfield__label" for="middlename">Middle Name</label>
          </div>
      </td>

      <td class="mdl-data-table__cell--non-numeric">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="birthday" value="{{ customer.birthday }}">
            <label class="mdl-textfield__label" for="birthday">Date of Birth:</label>
          </div>
      </td>

    </tr>

    <!-- 2nd Row -->
    <tr>

      <td class="mdl-data-table__cell--non-numeric" colspan="2">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="homeaddress" value="{{ customer.homeaddress }}">
          <label class="mdl-textfield__label" for="homeaddress">Home Address</label>
        </div>
      </td>

      <td class="mdl-data-table__cell--non-numeric">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="homeownership" value="{{ customer.homeownership }}">
            <label class="mdl-textfield__label" for="homeownership">Home Ownership</label>
          </div>
      </td>

      <td class="mdl-data-table__cell--non-numeric" colspan="2">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="phone" value="{{ customer.phone }}">
            <label class="mdl-textfield__label" for="phone">Phone</label>
          </div>
      </td>

    </tr>
    <!-- End 2nd Row -->


  </tbody>
</table>
</div>
</div>
</div>
{% endblock %}
