{% extends 'cif/base.html' %}
{% load static %}


{% block content %}
<!-- Image Header -->
<img class="img-fluid" src="{% static 'images/spain.jpg' %}" />


<div class="card text-center">
  {% if messages %}
     {% for message in messages %}
         <div class="text-center alert alert-{{ message.tags }}">
             {{ message|safe }}
         </div>
     {% endfor %}
 {% endif %}
  <div class="card-header">
    New Customer
  </div>
<div class="card-body">
    <h5 class="card-title">Customer Information Form</h5>
    <p class="card-text">Please fill out the form.</p>

<form class="" method="post" id="customerForm" enctype="multipart/form-data" data-provinces-url="{% url 'customer:ajax_load_provinces' %}">
{% csrf_token %}

<div class="container">

  <!-- 1st row -->
  <div class="form-group row">
    <div class="col-sm-3">
      <input type="text" class="form-control form-control form-control-sm" placeholder="Last name" id="lastname" name="lastname" required>
    </div>
    <div class="col-sm-3">
      <input type="text" class="form-control form-control-sm" placeholder="First Name" id="firstname" name="firstname" required>
    </div>
    <div class="col-sm-3">
      <input type="text" class="form-control form-control-sm" placeholder="Middle Name" id="middlename" name="middlename">
    </div>
    <div class="col-sm-3">
      <div class="dates">
        <div class="input-group">
          <input class="form-control form-control-sm" type="text" placeholder="Birthday Ex. 03/16/1990" id="birthday" name="birthday">
        <div class="input-group-append">
        </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End 1st row -->


  <!-- 2nd row -->
  <div class="form-group row">
    <div class="col-sm-3">
      <select class="form-control form-control-sm" id="region" name="region">
        <option value="" disabled selected>Select Region</option>
        {% for region in regions %}
        <option value="{{ region.pk }}">{{ region.name }}</option>
        {% endfor %}
      </select>
      </div>
      <div class="col-sm-3">
      <select class="form-control form-control-sm" id="province" name="province">
        {% include "cif/province_ddl.html" %}
      </select>
      </div>
      <div class="col-sm-3">
      <select class="form-control form-control-sm" id="city" name="city">
        {% include "cif/city_ddl.html" %}
      </select>
      </div>
      <div class="col-sm-3">
        <input type="text" class="form-control form-control-sm" placeholder="House/Unit No. | Street | brgy." id="homeaddress" name="homeaddress">
      </div>
  </div>
  <!-- End 2nd row -->


  <!-- 2nd row -->
  <div class="form-group row">

    <div class="col-sm-3">
      <select class="form-control form-control-sm" id="homeownership" name="homeownership">
      <option value="blank" selected="">Select Home Ownership</option>
      <option value="owned">Owned</option>
      <option value="rented">Rented</option>
      <option value="others">Others</option>
    </select>
    </div>
    <div class="col-sm-3">
      <input type="text" class="form-control form-control-sm" placeholder="Mobile/Tel No." id="phone" name="phone">
    </div>
  </div>
  <!-- End 2nd row -->


  <!-- 3rd row -->
  <div class="form-group row">
    <div class="col-sm-3">
      <input type="text" class="form-control form-control-sm" placeholder="Business Name" id="businessname" name="businessname">
    </div>
    <div class="col-sm-2">
      <input type="text" class="form-control form-control-sm" placeholder="Specialty of Practice" id="specialtypractice" name="specialtypractice">
    </div>
    <div class="col-sm-2">
      <input type="text" class="form-control form-control-sm" placeholder="Tenure of Practice" id="tenurepractice" name="tenurepractice">
    </div>
    <div class="col-sm-2">
      <input type="text" class="form-control form-control-sm" placeholder="PRC No." id="prcno" name="prcno">
    </div>
    <div class="col-sm-3">
      <select class="form-control form-control-sm" id="businesstype" name="businesstype">
      <option value="blank" selected="">Select Business Type</option>
      <option value="Clinic">Clinic</option>
      <option value="Laboratory">Laboratory</option>
      <option value="Dental Supplies">Dental Supplies</option>
      <option value="others">Others</option>
    </select>
    </div>
  </div>
  <!-- End 3rd row -->

  <!-- 4th row -->
  <div class="form-group row">
    <div class="col-sm-6">
      <input type="text" class="form-control form-control-sm" placeholder="Business Address" id="businessaddress" name="businessaddress">
    </div>
    <div class="col-sm-3">
      <input type="text" class="form-control form-control-sm" placeholder="Mobile/Tel No." id="businessphone" name="businessphone">
    </div>
    <div class="col-sm-3">
      <input type="text" class="form-control form-control-sm" placeholder="Email" id="businessemail" name="businessemail">
    </div>
  </div>
  <!-- End 4th row -->

  <!-- 5th row -->
  <div class="form-group row">
    <div class="col-sm-6">
      <input type="text" class="form-control form-control-sm" placeholder="Authorized Contact Person" id="contactperson" name="contactperson">
    </div>
    <div class="col-sm-3">
      <input type="text" class="form-control form-control-sm" placeholder="Position" id="position" name="position">
    </div>
    <div class="col-sm-3">
      <input type="text" class="form-control form-control-sm" placeholder="Mobile/Tel No." id="contactpersonphone" name="contactpersonphone">
    </div>
  </div>
  <!-- End 5th row -->

  <!-- 6th row -->
  <div class="form-group row">
    <div class="col-sm-6">
      <div class="custom-file">
          <input type="file" class="custom-file-input form-control-sm" id="image1" name="image1" accept="image/*">
          <label class="custom-file-label" for="customFile">Any government ID</label>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="custom-file">
          <input type="file" class="custom-file-input form-control-sm" id="image2" name="image2" accept="image/*">
          <label class="custom-file-label" for="customFile">DTI if any</label>
      </div>
    </div>
  </div>
  <!-- End 5th row -->


<button class="btn btn-primary" type="submit">Submit</button>
</div>
</form>
</div>
</div>
<br><br>




<script>
// Add the following code if you want the name of the file appear on select
$(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});
</script>

{% endblock content %}
